body {
/*    font-family: "Lucida Grande", sans-serif;*/
    color: #777
}

.number {
    padding: 0 0.4em;
    border-radius: 1em !important;
	display: inline;	
    cursor: pointer;
	margin-right: 0.2em;
	font-size: 1.5em !important;
}

.text {
	display: inline;
    cursor: pointer;
}

.pointer {
	cursor: pointer;
}