
body {
/*    font-family: "Lucida Grande", sans-serif;*/
    color: #777;
/*    font-weight: 400;*/
}

h1, h2, h3, h4, h5, h6 {
/*    font-weight: 600;*/
    color: #000;
}

body {
    min-width: 512px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#remove-all {
    margin-top: 1em;
    margin-bottom: 1em;
}

.title {
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search {
    /*border-radius: 14px;*/
}

/*Can't use .highlight as it is overwritten in init*/
.highlight-text-container {
    padding: 1rem 1.5rem !important;
    font-size: small;
    box-shadow: initial !important;
}

.highlight .close {
	margin-top: -6px;
	margin-right: -6px;

    transition: opacity 220ms, transform 200ms;
}

.pointer {
	cursor: pointer;
}

.more {
    font-weight: 600;
}

.doc {
    margin-bottom: 10px;
    /* box-shadow: 0 2px 6px 0px rgba(50,50,50,0.14); */
    /* padding: 10px; */
}

.doc .highlight {
    border-radius: 5px;
    border: 1px solid grey;

    display: block;
    animation: initial;
}

.actions {
    margin-top: 1rem;
    font-size: 9pt;
    /* font-weight: 400; */
}
/* 
.actions a {
    font-weight: 400;
    color: #A0A0A0;
} */

.date {
     margin-left: 0.5rem; 
    color: grey;
}

.has-note {
    /*background: #e9e9e9;*/
    border-left: 4px solid #ee7;
    padding: 0.8em 10px;
}

.not-in-dom {
    /* border: 1px dashed #c66; */
    text-decoration: line-through;
}

.not-in-dom .highlight {
    cursor: not-allowed;
}

.not-in-dom .select {
    cursor: not-allowed;
}

#file-access-required-alert { 
	border-left: 5px #d58512 solid;
}

#file-access-required-alert > .btn-block {
	margin-top: 12px;
}

.redefinition-well-sm {
	/* border-radius: 50% !important; */
    padding: 0.2rem 0.6rem;
    box-shadow: none !important;
    border: 1px solid grey;
    margin-right: 0.3rem;
}

.group-header {
    position: sticky;
    top: 0;
    margin: 1rem -1.5rem;
    padding: 0.5rem 1.5rem;
    background: #f5f5f5;
    color: black;
    z-index: 1;
    opacity: 0.9;
    /* font-weight: 500; */
    /* box-shadow: -1px 3px 10px 0px #bbb; */
    border-width: 1px 0;
    border-style: solid;
    border-color: grey;
}

/* header */

.header {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    /* box-shadow: 0px 1px 2px 0px rgba(0,0,0,.05); */
}

.header-brand {
    margin: 0 auto 0 0;
}

.header-control {
    margin-left: 12px;
}

.header-control-group {
    display: inline-flex;
}

.button-partner {
    margin-left: 4px;
}

.button-animate-transition {
    transition: transform 0.3s;
}

.sort-inverted {
    /* transform: rotate(180deg) */
    transform: rotateX(180deg);  
    /* background-color: black;
    color: white; */
}

.highlight-link {
    margin: 0 0 0 1em;
}

/* .separator {
    margin: 0 0.5em;
}

.separator::after {
    content: "//"
} */
