<!DOCTYPE html>
<html ng-app="optionsApp" ng-csp>
<head lang="en" data-ng-controller="AboutController">
    <meta charset="UTF-8">
    <link href="static/css/angular-csp.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/angular.rangeSlider.css" rel="stylesheet">
    <link href="css/options.css" rel="stylesheet">

    <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400italic,400,300,600' rel='stylesheet' type='text/css'> -->
	
	<title>{{'options_page_title_prefix' | i18n}} - {{manifest.name}}</title>
	
	<script src="static/js/jquery-2.1.3.min.js"></script>
	<script src="static/js/jquery.stylesheet.min.js"></script>
	<script src="static/js/angular.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/angular.rangeSlider.min.js"></script>
	<script src="static/js/memorystream.js"></script>

	<script src="js/storage.js"></script>
	<script src="js/stylesheet.js"></script>
	<script src="js/string_utils.js"></script>
	<!-- <script src="js/changelog.js"></script> -->
	<script src="js/libraries.js"></script>
	<script src="js/licenses.js"></script>

	<script src="js/options/app.js"></script>
	<script src="js/options/controllers.js"></script>
	<script src="js/options/filters.js"></script>
	<script src="js/i18n_filters.js"></script>

</head>

<body>
<nav class="navbar navbar-default" role="navigation" data-ng-controller="AboutController">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" ng-href="{{'extension_webstore_url' | i18n}}">
                <!-- <img data-ng-src="{{manifest.icons['19']}}" style="margin-right: 1em; vertical-align: bottom"> -->
				{{manifest.name}}
                <span style="font-size: small;">{{manifest.version}}</span>
            </a>
			
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<!-- <ul class="nav navbar-nav">

			</ul>
			 -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="mailto:support@dexterouslogic.com?subject=Re: {{manifest.name}} {{manifest.version}}">
	                    {{ 'support' | i18n}}
	            </a></li>
				<li><a target="_blank" href="faq.html">{{'faq_title' | i18n}}</a></li>
                <li><a ng-href="{{'extension_author_url' | i18n}}">&copy;{{'copyright_year' | i18n}} {{ 'extension_author' | i18n }}</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row" ng-controller="PagesController">
        <!--Nav Pills-->
        <div class="col-xs-3">
            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li class="active"><a href="#styles" role="tab" data-toggle="pill">{{ 'styles' | i18n }}</a></li>
                <li><a href="#pages" role="tab" data-toggle="pill">{{ 'pages' | i18n }}</a></li>
                <li><a href="#experimental" role="tab" data-toggle="pill">{{ 'experimental' | i18n }}</a></li>
                <li><a href="#about" role="tab" data-toggle="pill">{{ 'about' | i18n }}</a></li>
            </ul>
        </div>

        <!--Nav Content-->
        <div class="col-xs-9 tab-content">
            <!--Styles Pane-->
            <div class="tab-pane active fade in" id="styles" ng-controller="StylesController">
                <!-- Shared Modal Dialog-->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                     aria-labelledby="myModalTitle" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form name="myForm" role="form">
                                <!--Header-->
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">{{ 'close' | i18n }}</span>
                                    </button>

                                    <h4 class="modal-title" id="myModalTitle">{{modalTitle}}</h4>
                                </div>

                                <!--Body-->
                                <div class="modal-body">
                                    <!--Title-->
                                    <div class="form-group"
                                         ng-class="{'has-error': myForm.title.$invalid}">

                                        <label class="control-label" for="myTitle">{{ 'highlight_title' | i18n }}</label>
                                        <input class="form-control" name="title" id="myTitle"
                                               type="text" ng-model="modalDefinition.title" required autofocus>

                                        <span ng-show="myForm.title.$error.required" class="help-block">
                                            {{ 'required_highlight_title' | i18n }}
                                        </span>
                                    </div>

                                    <!--Background Colour-->
                                    <div class="form-group">
                                        <label for="backgroundColour">{{ 'highlight_background_colour' | i18n }}</label>
                                        <input type="color" class="form-control" id="backgroundColour"
                                               ng-model="modalDefinition.style['background-color']">
                                    </div>

                                    <!--Text Colour-->
                                    <div class="form-group">
                                        <label for="textColour">{{ 'highlight_text_colour' | i18n }}</label>
                                        <input type="color" class="form-control" id="textColour"
                                               ng-model="modalDefinition.style['color']"
                                                data-ng-disabled="modalDefinition.inherit_style_color">
                                    </div>

                                    <!--Inherit Text Color-->
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="modalDefinition.inherit_style_color">
                                            {{ 'highlight_text_colour_inherit' | i18n }}
                                        </label>
                                    </div>

                                    <!--Shortcut help-->
                                    <div class="help-block">{{ 'highlight_help_keyboard_shortcut' | i18n }}</div>
                                </div>

                                <!--Footer-->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        {{ 'cancel' | i18n }}
                                    </button>
                                    <button type="button" class="btn btn-primary" data-ng-disabled="myForm.$invalid"
                                            data-ng-click="onClickModalSave()">{{modalSaveButtonTitle}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--Definitions-->
                <!--<h4>Predefined Highlight Styles</h4>-->
                <h4>{{ 'options_tab_page_header_sites' | i18n }}</h4>
                <ul class="list-unstyled">
                    <li ng-repeat="d in definitions"
                        class="token well-sm {{highlightClassName}} {{d.className}}" ng-click="onClickEdit($index)">
                        <!--Number (index+1)-->
                        <span class="number">{{$index + 1}}</span>
                        <!--title-->
                        <span>{{d.title}}</span>
                        <!--hotkey-->
                        <kbd class="shortcut" ng-show="{{$index < commands.length && commands[$index].shortcut.length > 0}}">
                            {{commands[$index].shortcut}}
                        </kbd>

                        <!--Delete Button-->
                        <button type="button" class="close"  title="Remove Style"
                                ng-click="onClickDelete(d.className); $event.preventDefault(); $event.stopPropagation();">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">{{'close' | i18n}}</span>
                        </button>
                    </li>
                </ul>

                <!--TODO: move to new page-->
                <div style="margin-top: 20px">
                    <!--Opacity-->
                    <div class="row">
                        <h5>{{ 'highlight_opacity' | i18n }}</h5>
                        <div range-slider min="0.3" max="1.0"
                             model-max="opacity" attach-handle-values="true"
                             step="0.1" decimal-places="2" pin-handle="min" filter="alphaPercent"></div>
                    </div>

                    <!--Unselect after highlight-->
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="unselectAfterHighlight">
                            {{ 'highlight_unselect' | i18n }}
                        </label>
                    </div>

                    <!--Highlight box shadow enabled-->
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="isHighlightBoxShadowEnabled">
                            {{ 'highlight_box_shadow' | i18n }}
                        </label>
                    </div>

                </div>

                <!-- Buttons -->
                <div class="row row-buttons">
                    <button type="button" class="btn btn-danger" ng-click="onClickReset()">
                        {{ 'reset_default_styles' | i18n }}
                    </button>
                    <button type="button" class="btn btn-default pull-right" ng-click="onClickAdd()">
                        {{ 'create_new_style' | i18n }}
                    </button>
                </div>
            </div>

            <!--Pages Pane-->
            <div class="tab-pane fade" id="pages" ng-controller="PagesController">
                <h4>{{ 'options_tab_page_header_pages' | i18n }}</h4>
                <ol class="pages">
                    <li ng-repeat="row in rows" class="page">
                        <a href="{{row.key}}" target="_blank">{{row.key}}</a>

                        <button type="button" class="close" ng-click="onClickRemoveAllHighlights($index)"
                                title="{{ 'remove_all_highlights' | i18n }}">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">{{ 'close' | i18n }}</span>
                        </button>
                    </li>
                </ol>

                <h4 class="pages_empty" ng-show="rows.length === 0">{{ 'pages_empty' | i18n }}</h4>

                <div class="row row-buttons">
                    <button type="button" class="btn btn-danger"
                            ng-class="{'disabled': rows.length === 0}"
                            data-ng-click="onClickRemoveAllPages()">
                        {{ 'text_remove_all_pages' | i18n }}
                    </button>
                </div>
            </div>
			
            <!--Experimental Pane-->
            <div class="tab-pane fade" id="experimental" ng-controller="ExperimentalController">
				<h4>{{ 'experimental_header' | i18n }}</h4>

				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">{{ 'experimental_database_heading' | i18n }}</div>

				  <!-- List group -->
				  <ul class="list-group">
				    <li class="list-group-item">
						<strong>{{ 'experimental_database_export_title' | i18n }}</strong>
						<p>{{ 'experimental_database_export_description' | i18n }}</p>

		                <div class="row-buttons">
		                    <button type="button" class="btn btn-default" data-ng-click="onClickDump()">
								{{ 'experimental_database_export_button_text' | i18n }}
							</button>
		                </div>
					</li>
					
				    <li class="list-group-item">
						<strong>{{ 'experimental_database_import_title' | i18n }}</strong>
						<p>{{ 'experimental_database_import_description' | i18n }}</p>
						
		                <div class="row-buttons">
							<span class="btn btn-danger btn-file">
							    {{ 'experimental_database_import_button_text' | i18n }}
								<input type="file" id="files">
							</span>
		                </div>
					</li>
				  </ul>
				</div>
            </div>
			

            <!--About Pane-->
            <div class="tab-pane fade" id="about" data-ng-controller="AboutController">
                <img data-ng-src="{{manifest.icons['256']}}"/>
                <h1>{{manifest.name}}</h1>
                <h5>Version {{manifest.version}}</h5>
                <p>
					&copy;{{'copyright_year' | i18n}} <a ng-href="{{'extension_author_url' | i18n}}">{{ 'extension_author' | i18n }}</a>
				</p>

				<p>
					Twitter: <a ng-href="{{'extension_author_twitter_url' | i18n}}" class="twitter-follow-button" data-show-count="false">
						@{{ 'extension_author_twitter' | i18n }}
					</a>
				</p>
				<p>
					<div>
						<a target="_blank" href="changelog.txt">{{'changelog' | i18n}}</a>
					</div>
				</p>
 
               <h4>{{'libraries' | i18n}}</h4>
                <ul>
                    <li ng-repeat="library in libraries">
                        <a href="{{library.href}}">{{library.text}}</a>
                    </li>
                </ul>

                <h4>{{'licenses' | i18n}}</h4>
                <div ng-repeat="item in cc" class="cc">
                    "<a href="{{item.work.href}}">{{item.work.text}}</a>"
                    by <a href="{{item.author.href}}">{{item.author.text}}</a>
                    is licensed under <a href="{{item.license.href}}">{{item.license.text}}</a>
                </div>
				
                <div class="row row-buttons">
	                <button type="button" class="btn btn-warning" data-ng-click="onClickRestoreAllWarnings()">
	                    {{ 'restore_all_warnings' | i18n }}
	                </button>
                </div>
				
                
<!--
                <h4>{{'changelog' | i18n}}</h4>
                <ul>
                    <li class="version" ng-repeat="unit in changelog">
                        <h5>{{unit.version}}</h5>
                        <ul class="list-unstyled">
                            <li ng-repeat="item in unit.items">
                                {{item}}
                            </li>
                        </ul>
                    </li>
                <ul>
-->
            </div>
        </div>
    </div>

</div>
</body>
</html>
