<!DOCTYPE html>
<html ng-app="summaryApp" ng-csp>
<head lang="en" >
    <meta charset="UTF-8">
    <link href="static/css/angular-csp.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/popup.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
</head>

<body >
<div class="container" ng-controller="DocumentsController">
    Summary PAGE!!!!!!!


    <!--List-->
    <ul class="list-unstyled">
        <!--http://stackoverflow.com/questions/13813254/how-do-i-conditionally-apply-css-styles-in-angularjs-->
        <!--isInDOM defaults to undefined-->
        <li ng-repeat="doc in docs | filter:search"
            id="{{doc._id}}"
            class="doc" ng-class="{'not-in-dom': doc.isInDOM === false}"
            ng-mouseenter="doc.hover=true" ng-mouseleave="doc.hover=false">
            <!--Text and floating button-->
            <div class="highlight {{doc.className}} highlight-text-container"
                 ng-click="onClickHighlight(doc)">
                <!--Delete Button-->
                <button type="button" class="close"  title="Remove Highlight"
                        ng-click="onClickRemoveHighlight(doc._id); $event.preventDefault(); $event.stopPropagation();">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only"> {{ 'close' | i18n }}</span>
                </button>
                <!--text-->
                <span class="highlight-text">{{doc.text.substring(0, popupHighlightTextMaxLength)}}</span>
            </div>

            <!--InfoBar-->
            <div class="actions">
                <span class="date">{{ doc.date | date:'medium' }}</span>

                <!--Only show these if hovering-->
                <span ng-show="doc.hover">
                    <!--Copy-->
                    <a href="" ng-click="onClickCopy(doc._id)" title="{{ 'tooltip_copy_highlight' | i18n }}">
                        {{'copy_highlight_text' | i18n}}
                    </a>
                    <span class="separator">&nbsp;//&nbsp;</span>

                    <!--Select-->
                    <a href="" ng-click="onClickSelect(doc)" title="{{ 'tooltip_select_highlight' | i18n }}"
                       class="select">
                        {{'select_highlight_text' | i18n}}
                    </a>
                    <span class="separator">&nbsp;//&nbsp;</span>

                    <!--Speak-->
                    <a href="" ng-click="onClickSpeak(doc._id)" title="{{ 'tooltip_speak_highlight' | i18n }}">
                        {{'speak_highlight_text' | i18n}}
                    </a>
                </span>
            </div>
        </li>
    </ul>

</div>

<script src="static/js/jquery-2.1.1.min.js"></script>
<script src="static/js/jquery.stylesheet.min.js"></script>
<script src="static/js/angular.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/purl.min.js"></script>

<script src="js/storage.js"></script>
<script src="js/stylesheet.js"></script>

<script src="js/summary/app.js"></script>
<script src="js/summary/controllers.js"></script>
<script src="js/i18n_filters.js"></script>

</body>
</html>