<!DOCTYPE html>
<html ng-app="overviewApp" ng-csp>
<head lang="en" data-ng-controller="DocumentsController">
    <meta charset="UTF-8">
    <link href="static/css/angular-csp.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/overview.css" rel="stylesheet">

    <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400italic,400,300,600' rel='stylesheet' type='text/css'> -->
    <script src="js/string_utils.js"></script>
	
	<title>{{'overview_page_title_prefix' | i18n}} - {{title}}</title>
</head>

<body data-ng-controller="DocumentsController">
<nav class="navbar navbar-default" role="navigation" >
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" ng-href="{{'extension_webstore_url' | i18n}}">
                <!-- <img data-ng-src="{{manifest.icons['19']}}" style="margin-right: 1em; vertical-align: bottom"> -->
				{{manifest.name}}
                <span style="font-size: small;">{{manifest.version}}</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="{{'extension_author_url' | i18n }}">&copy;{{'copyright_year' | i18n}} {{ 'extension_author' | i18n }}</a></li>
            </ul>
        </div>
    </div>
</nav>	
	
	
<div class="container">
   <div class="page-header">
	 <!-- Main Header -->
     <h2>
		<a ng-href="{{url}}" target="_id" class="glyphicon glyphicon-open-file" ng-click="onClickPageUrl()"></a>		 
		 <!-- <span class="glyphicon glyphicon-file pointer" data-ng-click="onClickPageUrl()" title="{{'activate_originating_tab' | i18n}}"></span> -->
		 <!-- onClickPageUrl() uses the event param to prevent default action (navigation).
		  If the associated tab has been removed, user should navigate explicitly (via context menu) -->
		 <a href="#" ng-click="onClickPageUrl()">{{title}}</a>
		 <!-- <a href="" class="h6 glyphicon glyphicon-file">
		 	({{'activate_originating_tab' | i18n}})
		 </span> -->
	 </h2>

	 <span class="h5 disabled">{{docsCount}}</span>
	</div>

	<!-- Highlights List -->
    <ul class="list-unstyled">
        <li ng-repeat="doc in docs" id="{{doc._id}}" class="well-sm" ng-class="{'not-in-dom': doc.isInDOM === false}">
            <!--Number (index+1)-->
            <h2 class="number highlight {{doc.className}}" ng-click="onClickHighlight(doc)">{{$index + 1}}</h2>
            <!--title-->
            <h5 class="text" ng-click="onClickHighlight(doc)">{{doc.text}}</h5>
        </li>
    </ul>
</div>

<script src="static/js/jquery-2.1.3.min.js"></script>
<script src="static/js/jquery.stylesheet.min.js"></script>
<script src="static/js/angular.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/purl.min.js"></script>

<script src="js/storage.js"></script>
<script src="js/stylesheet.js"></script>

<script src="js/overview/app.js"></script>
<script src="js/overview/controllers.js"></script>
<script src="js/i18n_filters.js"></script>

</body>
</html>