<!DOCTYPE html>
<html ng-app="popupApp" ng-csp>
<head lang="en" >
    <meta charset="UTF-8">
    <link href="static/css/angular-csp.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/popup.css" rel="stylesheet">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type="text/css">
</head>

<body >
<div class="container" ng-controller="DocumentsController">
    <!--Top (not nav)
    http://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3
    -->
    <!--Header-->
    <div class="row">
        <div class="col-xs-8 vcenter" style="margin: 10px 0">
            <h5 class="title" title="{{match}}">{{title}}</h5>
<!-- <span class="badge">{{docs.length}}</span> -->
            <div class="dropdown" style="display: inline">
                <a href="" class="dropdown-toggle caret" id="dropdownMenu1" data-toggle="dropdown"></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="" ng-click="onClickRemoveAll(match)">Remove All</a>
                    </li>
                </ul>
            </div>
        </div><!-- Search
        --><div class="col-xs-4 vcenter">
            <input type="search" class="form-control input-sm" ng-model="search.text" placeholder="Search">
        </div>
    </div>

    <!--List-->
    <ul class="list-unstyled">
        <!--http://stackoverflow.com/questions/13813254/how-do-i-conditionally-apply-css-styles-in-angularjs-->
        <!--isInDOM defaults to undefined-->
        <li ng-repeat="doc in docs | filter:search"  ng-class="{'not-in-dom': doc.isInDOM === false}"
            ng-mouseenter="doc.hover=true" ng-mouseleave="doc.hover=false">
            <!--Text-->
            <div class="highlight {{doc.className}} highlight-text"
                 ng-click="onClickHighlight(doc._id)">
                <!--Delete Button-->
                <button type="button" class="close"  title="Remove Highlight"
                        ng-click="onClickRemove(doc._id); $event.preventDefault(); $event.stopPropagation();">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <span>{{doc.text}}</span>

            </div>

            <!--InfoBar-->
            <div class="actions">
                <span class="date">{{ doc.date | date:'medium' }}</span>

                <!--Only show these if hovering-->
                <span ng-show="doc.hover">
                    <!--Copy-->
                    <a href="" ng-click="onClickCopy(doc._id)"
                          title="Copy Highlight to Clipboard" >Copy</a>

                    <span class="separator">&nbsp;//&nbsp;</span>

                    <!--Speak-->
                    <a href="" ng-click="onClickSpeak(doc._id)" title="Speak Highlight" >Speak</a>
                </span>
            </div>
        </li>
    </ul>


    <!--Remove All-->
<!--
    <button id="remove-all" class="btn btn-danger pull-right" ng-click="onClickRemoveAll(doc.match)"
            title="Remove every highlight from the page">
        <span class="glyphicon glyphicon-remove" style="vertical-align: text-top"></span> Remove All
    </button>
-->
</div>


<script src="static/js/jquery-2.1.1.min.js"></script>
<script src="static/js/jquery.stylesheet.min.js"></script>
<script src="static/js/angular.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>

<script src="js/highlight_definitions.js"></script>
<script src="js/stylesheet.js"></script>

<script src="js/popup/app.js"></script>
<script src="js/popup/controllers.js"></script>

</body>
</html>